body {
}
main {
  min-height: 50%;
  background: url("../assets/1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  /* margin: auto; */
  /* width: 100vw; */
  color: white;
  text-align: center;
  margin: 0;

  /* overflow: hidden; */

  /* background: #58ffd2; */
  /* background: linear-gradient(rgba(29, 38, 113, 0.9), rgba(195, 55, 100, 0.9)); */
}

/* main::before {
  content: "";
  background: #58ffd2;
  width: 100%;
  opacity: 0.5;
} */

/* img {
      object-fit: cover;
  } */
